@use '../utilities' as u;

.articles {

  background-color: u.$very-light-gray;

  &__container {

    display: grid;
    grid-template-rows: auto auto;

    @include u.BreakPoint-up(large) {

     gap: 1.75rem;
    }

    a {
      color: u.$grayish-blue;  
    }

    .article {

      
    
      &__item {

        background-color: u.$white;
        border-radius: 0.375rem;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
        
        @include u.transition-ease(u.$sec-3);

        &:hover {
          
          transform: scale(1.1);
          
          h4 {
            
            color: u.$lime-green;  
          }
        }
      }

      &__img {
        
        img {

          width: 100%;
          min-height: 12.5rem;
          object-fit: cover;
          border-top-left-radius: 0.375rem;
          border-top-right-radius: 0.375rem;
        }
      }

      &__text {
        
        padding: 1.75rem 1.375rem;

        &--sml {
          
          font-size: u.$font-sz-xsm;
        }
      }

    }
}

  &__title {
    
    
  }




}