@use '../utilities' as u;

.features {
  
  background-color: u.$light-grayish-blue;

  &__container {
    
    display: grid;
    grid-template-rows: auto auto;
    gap: 3rem;  

    @include u.BreakPoint-up(large) {
  
      gap: 3.75rem;
    }
  }
  
  &__text {
    
    
    text-align: center;
    width: max(min(100%, 28em), 55%);

    @include u.BreakPoint-up(large) {

      text-align: start;
    }
  }

  &__title {

    margin-inline: auto;
    width: max(40vw, 50%);
  }

  .feature {
    

    &__item {
      
      flex-direction: column;
      gap: 1.25rem;

      @include u.BreakPoint-up(large) {

        align-items: start;
        gap: 2.375rem;
      }

      img {
        
      }
    }

    &__details {
      
      text-align: center;
     
      @include u.BreakPoint-up(large) {

        text-align: start;
      }
    }
  }


}