// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use '../utilities' as u;

.footer {
  
  background-color: u.$dark-blue;

  &__container {

    display: grid;
    grid-template-areas: 
      "logo"
      "social"
      "links"
      "cta";
    
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    padding-block: 2.25rem;

    a {
      color: u.$white;
    }

    @include u.BreakPoint-up(large) {

      grid-template-areas: 
      "logo links links cta cta"
      "social links links cta cta";
      padding-block: 2.75rem;
      justify-items: stretch;
    }
    
  }

  &__logo {
    grid-area: logo;
    
  }

  &__social {

    grid-area: social;
    gap: 1rem;

    a {

      svg {
        
        fill: u.$white;

        &:hover {
          
          fill: u.$lime-green;  
        }  
      }
    }
  }

  &__links {

    grid-area: links;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    
    > a {

      color: u.$grayish-blue;

      &:hover {
         color: u.$lime-green;      
      }
    }

    @include u.BreakPoint-up(large) {

      grid-template-columns: 1fr 1fr;
      justify-items: start;
      gap: 0.5rem;
    }
  }

  &__cta {
    grid-area: cta;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.5rem;

    @include u.BreakPoint-up(large) {

     justify-items: end;
    }
  }
}