// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@use '../utilities' as u;

.btn {

  border: none;
  font-weight: u.$fw-400;
  cursor: pointer;

  &--md-cta {

    border-radius: 3.125rem;
    padding: 0.875em 2.875em;
    background-image: u.$linear-gradient;
    font-size: u.$font-sz-sml;
    color: u.$white;
    position: relative;

    &::before {

      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 3.125rem;
      background-color: rgba(255, 255, 255, 0.5);
      opacity: 0;
      
      @include u.transition-ease(u.$sec-3);
    }

    &:hover {

      &::before {
        opacity: 1;
      }
    }
  }

}
